{% extends "index.html" %}{% block title %} Create Research {% endblock %}
{% block content%} 
<!-- Menu -->
<nav id="menu">
    <ul class="actions stacked">
        <li><a href="#" class="button primary fit">Get Started</a></li>
    </ul>
</nav>

<!-- Banner -->
<section>
    <div class="inner">
        <header class="major">
            <h1>Welcome Researcher, I am Research Orbit </h1>
        </header>
        <div class="content">
            <p>A research paper organizing tool and progress tracker<br />
            made by techNets. </br> 
            Create an account to assess powerful tools for your research work.</p>
            <ul class="actions">
                <li><a href="#one" class="button next scrolly">Get Started</a></li>
            </ul>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">
    <!-- One -->
    <section id="one">
        <form method ="POST">
            <h3 align="center">Create a Research</h3>
        
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" id="title",placeholder="Enter title">
            </div>
        
            <div class="form-group">
                <label for="researchType">Choose type of research</label>
                <select id="researchType" name="researchType">
                    <option value="Basic Research">Basic Research</option>
                    <option value="Applied Research">Applied Research</option>
                    <option value="exploratory Research">Exploratory Research</option>
                    <option value="Descriptive Research">Descriptive Research</option>
                    <option value="Explanatory Research">Explanatory Research</option>
                </select>
            </div>
            <div class="form-group">
                <label for="owner">Individual or Organization</label>
                <select id="owner" name="owner">
                    <option value="Individual">Individual</option>
                    <option value="Organization">Organization</option>
                </select>
            </div>
        
            <div class="form-group">
                <label for="description">Research description</label>
                <textarea id="description" name="description" placeholder="Type your descriptions here..."></textarea>
            </div>
    
            <br/>
            <button type="submit" class="btn btn-primary">Submit</button>
        
        </form>
       
    </section>

    <!-- Two -->
    <section id="two">
        <div class="inner">
            
        </div>
    </section>
</div>

<!-- Contact -->
<section id="contact">
    <div class="inner">
        <section>
            
        </section>
        <section class="split">
            <section>
                <div class="contact-method">
                    <span class="icon solid alt fa-envelope"></span>
                    <h3>Email</h3>
                    <a href="#">techNets@gmail.com</a>
                </div>
            </section>
            <section>
                <div class="contact-method">
                    <span class="icon solid alt fa-phone"></span>
                    <h3>Phone</h3>
                    <span>(000) 000-0000 x12387</span>
                </div>
            </section>
            <section>
                <div class="contact-method">
                    <span class="icon solid alt fa-home"></span>
                    <h3>Address</h3>
                    <span>1234 Somewhere Road #5432<br />
                    Nashville, TN 00000<br />
                    United States of America</span>
                </div>
            </section>
        </section>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; techNets</li><li>Design: <a href="#">techNets</a></li>
        </ul>
    </div>
</footer>

</div>

{%endblock%}