{% extends "index.html" %}

{% block title %}Research Topic Detail{% endblock %}

{% block content %}
<!-- Banner -->
<section>
    <div class="inner">
        <header class="major">
            <h1>Research Paper Detail</h1>
        </header>
        <div class="content">
            <p>Details for the research topic:</p>
            <h2>{{ paper.title }}</h2>
            <p><strong>DOI:</strong> {{ paper.doi }}</p>
            <p><strong>Author:</strong> {{ paper.author }}</p>
            <p><strong>Abstract:</strong> {{ paper.abstract }}</p>
            <p><strong>Date Created:</strong> {{ paper.date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            {% if note %}
                <p><strong>Note : {{ note.data}}</strong></p>
                <p><strong>Date Updated:</strong> {{ note.date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            {% endif %}
        </div>
    </div>
</section>

<!-- Actions -->
<section>
    <div class="inner">
        <a href="{{ url_for('views.view_papers',topic_id = topic_id) }}" class="button">Back to Topics</a>
        
        {% if note %}
        <!--Show edit note if a note does not exist-->
            <a href="{{ url_for('auth.edit_note',note_id=note.id )}}" class="button">Edit Note</a>
        {% else %}
            <a href="{{ url_for('auth.add_note',paper_id = paper.id )}}" class="button">Add Note</a>
        {% endif%}
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; techNets</li>
            <li>Design: <a href="#">techNets</a></li>
        </ul>
    </div>
</footer>

{% endblock %}
